
@{
    ViewData["Title"] = "Add Student";
        var khachhang = ViewBag.khachhang;
}



<h2>@ViewData["EDIT STUDENT"]<
<div class="container">
<div class="row">

<form class="form" action="/khachhang/updatekhachhang" method="GET">
<p>ID</p>
<input class="form-control" type="text" name="MaKH" id = "MaKH" value="@khachhang.MaKH" dissable>
<p>NAME</p>
<input class="form-control" type="text" name="HoTenKH" id = "HoTenKH" value="@khachhang.HoTenKH">
<p>So Dien Thoai</p>
<input class="form-control" type="text" name="SoDienThoai" id = "SoDienThoai" value="@khachhang.SoDienThoai">
<p>Dia Chi</p>
<input class="form-control" type="text" name="DiaChiKH" id = "DiaChiKH" value="@khachhang.DiaChiKH">
<p>Ngay Sinh</p>
<input class="form-control" type="text" name="NgaySinh" id = "NgaySinh" value="">
<p>Gioi Tinh</p>
<select class="form-control" name="GioiTinh" id="GioiTinh" value="@khachhang.GioiTinh">
        <option value="1" >Nam</option>
        <option value="0" >Nu</option>
</select>

<button type="submit" class="btn btn-success" >EDIT</button>
 <a class="btn btn-warning" href="/khachhang">CANCEL</a>
</form>

</div>

</div>

